* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #ebb6b2;
}

.nav a {
  padding-top: 10px;
}

.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
